# Tip Bot Configuration
WS_URL=ws://localhost:7071
TIP_BOT_PRIVATE_KEY=ed25519:

# NEAR Network Configuration
NODE_URL=https://rpc.mainnet.fastnear.com

# Intents Contract Configuration
INTENTS_CONTRACT_ID=intents.near